<section class="card mt-4">
    <div class="card-body">
        <h1>First time?. Follow these simple steps:</h1>
        <ol>
            <li>Hit the register button and enter your data</li>
            <li>Log in</li>
            <li>In the Notes button the options will be displayed</li>
            <li>Create a note</li>
            <li>You can choose show all the notes</li>
            <li>Edit, create more or delete the ones you want</li>
            <br>
            <h5>And done! your notes can only be seen by you</h5>
            <h6>Detail: Your notes will be saved from newest to oldest</h6>
        </ol>
    </div>
    
</section>
<img src="/crayon-taking-notes.png" class="mx-auto d-block img-fluid " width='500px' height='500px'
    alt="dibu">